<div ng-controller="TopicsCtrl" class="row">
  <div ng-controller="NotificationCtrl" class="notifications">
    <pf-notification-list></pf-notification-list>
  </div>
  <div class="col-md-12">
    <pf-toolbar id="topicsToolbar" config="toolbarConfig">
      <actions>
        <button class="btn btn-default primary-action" type="button" ng-controller="WizardModalController"
          ng-click="openWizardModal()">
          <span class="fa fa-plus"></span>
          Add Topic
        </button>
        <button class="btn btn-default primary-action" type="button" ng-click="doDeleteSelected()">
          <span class="fa fa-trash-o"></span>
          Delete selected topics
        </button>
      </actions>
    </pf-toolbar>
  </div>
  <div class="col-md-12" ng-if="viewType == 'listView' && showComponent">
    <pf-list-view config="listConfig" page-config="pageConfig" items="items"
      empty-state-config="items.length === 0 && filterConfig.appliedFilters.length > 0 ? noItemsConfig : emptyStateConfig">
      <div class="list-view-pf-description">
        <div class="list-group-item-heading">
          {{item.name}}
        </div>
        <div class="list-group-item-text">
          <span class="creationDate">Creation date</span> <strong>{{item.creationTimestamp}}</strong>
        </div>
      </div>
      <div class="list-view-pf-additional-info">
        <div class="list-view-pf-additional-info-item">
          <span class="pficon pficon-cluster"></span>
          <strong>{{item.partitions}}</strong> Partitions
        </div>
        <div class="list-view-pf-additional-info-item">
          <span class="pficon pficon-registry"></span>
          <strong>{{item.replicas}}</strong> Replicas
        </div>
      </div>
      <list-expanded-content>
        <div class="close">
          <span class="pficon pficon-close" ng-click="customScope.collapseItem($parent.item)"></span>
        </div>
        GET /topics/&lt;topic name&gt; Not implemented yet. In the mean time, please enjoy this fake data about replica
        broker ids:<br /><br />

        <div class="row expanded-details">
          <div class="col-md-1">
            <span class="strimzi-details fa fa-commenting-o"></span>
          </div>
          <div class="col-md-2">
            <span class="strimzi-details-label">Topic name</span>
            {{$parent.item.name}}
          </div>
          <div class=" col-md-9">
            <dl class="dl-horizontal">
              <dt>Partitions</dt>
              <dd>{{$parent.item.partitions}}</dd>
              <dt>Replicas</dt>
              <dd>{{$parent.item.replicas}}</dd>
              <dt ng-if="$parent.item.details.replicaIds.length">
                Replica broker Ids</dt>
              <dd ng-if="$parent.item.details.replicaIds.length">
                <div ng-repeat="id in $parent.$parent.item.details.replicaIds">
                  {{id}}
                </div>
              </dd>
              <dt ng-if="$parent.item.details.syncReplicaIds.length">
                In-sync replica broker Ids</dt>
              <dd ng-if="$parent.item.details.syncReplicaIds.length">
                <div ng-repeat="id in $parent.$parent.item.details.syncReplicaIds">
                  {{id}}
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </list-expanded-content>
    </pf-list-view>
  </div>
  <div class="col-md-12" ng-if="viewType == 'cardView' && showComponent">
    <pf-card-view config="listConfig" page-config="pageConfig" items="items"
      empty-state-config="items.length === 0 && filterConfig.appliedFilters.length > 0 ? noItemsConfig : emptyStateConfig">
      <div class="col-md-12">

        <div class="card-pf card-pf-info-status card-pf-accented">
          <div class="card-pf-info-image ng-scope">
            <span class="info-icon fa fa-commenting-o"></span></div>
          <div class="card-pf-info-content card-pf-body">
            <h2 class="card-pf-title">
              <span>{{item.name}}</span>
            </h2>
            <span>
              <div class="card-pf-info-item">
                Created: {{item.creationTimestamp}}
              </div>
              <div class="card-pf-info-item">
                Partitions: {{item.partitions}}
              </div>
              <div class="card-pf-info-item">
                Replicas: {{item.replicas}}
              </div>
            </span>
          </div>
        </div>
      </div>
    </pf-card-view>
  </div>
</div>