<pf-wizard wizard-title="Add topic" wizard-ready="wizardReady" on-finish="finishedWizard()"
  on-cancel="cancelDeploymentWizard()" next-title="nextButtonTitle" next-callback="nextCallback"
  back-callback="backCallback" wizard-done="deployComplete || deployInProgress" step-class="example-wizard-step"
  on-step-changed="stepChanged(step, index)">
  <pf-wizard-step step-title="Topic description" next-tooltip="firstStepNextTooltip" prev-tooltip="firstStepPrevTooltip"
    substeps="false" step-id="details" step-priority="0" show-review="true" show-review-details="true"
    review-template="review-template.html">

    <div ng-include="'detail-page.html'"></div>

  </pf-wizard-step>
  <pf-wizard-step step-title="Review" next-tooltip="reviewStepNextTooltip" prev-tooltip="reviewStepPrevTooltip"
    substeps="false" step-id="review" step-priority="2">

    <div ng-include="'summary.html'"></div>

  </pf-wizard-step>
</pf-wizard>

<script type="text/ng-template" id="detail-page.html">
  <div ng-controller="DetailsGeneralController">
      <form class="form-horizontal">
        <pf-form-group pf-label="Topic name" pf-label-class="col-sm-3 col-md-2" pf-input-class="col-sm-9 col-md-10" required>
          <input id="new-name" name="name" ng-model="data.name" type="text" ng-keyup="checkSubmit($event)" ng-change="updateName()" ng-trim="false" restrict-field="data.name" required autofocus/>
        </pf-form-group>
        <pf-form-group pf-label="Partitions" pf-label-class="col-sm-3 col-md-2" pf-input-class="col-sm-9 col-md-10">
            <input id="new-partitions" name="partitions" ng-model="data.partitions" type="number" ng-keyup="checkSubmit($event)" min="1" max="99" maxlength="2"/>
        </pf-form-group>
        <pf-form-group pf-label="Replicas" pf-label-class="col-sm-3 col-md-2" pf-input-class="col-sm-9 col-md-10">
            <input id="new-replicas" name="replicas" ng-model="data.replicas" type="number" ng-keyup="checkSubmit($event)" min="0" max="99" maxlength="2"/>
        </pf-form-group>
        <pf-form-group pf-label="Retention ms" pf-label-class="col-sm-3 col-md-2" pf-input-class="col-sm-9 col-md-10">
            <input id="new-retention" name="retention" ng-model="data.retention.ms" type="number" ng-keyup="checkSubmit($event)" min="1000" max="99999999" maxlength="8"/>
        </pf-form-group>
        <pf-form-group pf-label="Segment bytes" pf-label-class="col-sm-3 col-md-2" pf-input-class="col-sm-9 col-md-10">
            <input id="new-segbytes" name="segbytes" ng-model="data.segment.bytes" type="number" ng-keyup="checkSubmit($event)" min="1"/>
        </pf-form-group>
      </form>
  </div>
</script>

<script type="text/ng-template" id="summary.html">
  <div ng-controller="SummaryController" class="row">
    <div ng-include="'review-template.html'"></div>
  </div>
</script>

<script type="text/ng-template" id="review-template.html">
  <div ng-controller="DetailsReviewController" class="col-md-3">
    Please review the values.
  </div>
  <div ng-controller="DetailsReviewController" class="col-md-9">
      <dl class="dl-horizontal">
          <dt>New topic name</dt>
          <dd>{{data.name}}</dd>
          <dt>Partitions</dt>
          <dd>{{data.partitions | pretty}}</dd>
          <dt>Replicas</dt>
          <dd>{{data.replicas | pretty}}</dd>
          <dt>Retention ms</dt>
          <dd>{{data.retention.ms | pretty}}</dd>
          <dt>Segment bytes</dt>
          <dd>{{data.segment.bytes | pretty}}</dd>
      </dl>
  </div>
</script>

<script type="text/ng-template" id="deployment.html">
  <div ng-controller="DeploymentController">
    <pf-wizard-substep step-title="Deploy" step-id="review-progress" step-priority="1" next-enabled="true"
      prev-enabled="false" ok-to-nav-away="true" wz-disabled="false" on-show="onShow">
      <div class="wizard-pf-contents" ng-controller="DeploymentController">
        <div class="wizard-pf-process blank-slate-pf" ng-if="!deploymentComplete">
          <div class="spinner spinner-lg blank-slate-pf-icon"></div>
          <h5 class="blank-slate-pf-main-action" id="example_source_deployment-in-progress">Deployment in progress</h5>
          <p class="blank-slate-pf-secondary-action">Lorem ipsum dolor sit amet, porta at suspendisse ac, ut wisi vivamus,
            lorem sociosqu eget nunc amet. </p>
        </div>
        <div class="wizard-pf-complete blank-slate-pf" ng-if="deploymentComplete">
          <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
          <h5 class="blank-slate-pf-main-action" id="example_source_deployment-was-successful">Request sent
          </h5>
          <p class="blank-slate-pf-secondary-action">The topic should appear in the topic list shortly.</p>
        </div>
      </div>
    </pf-wizard-substep>
  </div>
</script>