#topicTableWrapper {
  min-height: calc(100vh - 20em);
}

.topic-title-description {
  width: 50em;
}

th.details-dot:before {
  content: '\2022';
  font-size: 30px;
  position: relative;
  left: -5px;
  top: 5px;
}

th.details-partition:before {
  color: white;
}
th.details-leader:before {
  color: blue;
}
th.details-insync:before {
  color: rgb(110, 182, 110);
}
th.details-outsync:before {
  color: rgb(253, 176, 33);
}

.pf-m-expanded .pf-c-table__action {
  visibility: hidden;
}

.topics-table .pf-l-toolbar {
  background-color: #fff;
  padding: 1em;
  margin-top: 1em;
  border-bottom: 1px solid #F0F0F0;
}

.input-search {
  float: right;
  margin-right: 6px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  color: #666;
}

.pf-icon-search:before {
  content: '\2022';
}

.topic-dialog {
  min-height: 44em !important;
  border: 0 !important;
}
.topic-dialog .basic-configuration {
  width: 50%;
  margin-right: 4em !important;
}

.topic-dialog .advanced-group-text {
  margin-top: 0.5em;
}

.data-retention-policy {
  width: 50%;
}

input[type=number] {
  border-bottom: 1px solid #EAEAEA !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
   border: 1px solid #EAEAEA;
   position: relative;
   right: -8px;
   height: 28px;
}

.topic-dialog .topic-group {
  margin-top: 1.5em;
}

.topic-dialog .pf-m-action button {
  margin-right: 1em;
}

.topic-form-buttons {
  position: absolute;
  bottom: 1.5em;
}

.topic-dialog .create-secondary {
  color: rgb(0, 123, 186) !important;
  border: 1px solid #fff;
}
.topic-dialog .create-secondary:hover {
  border: 1px solid rgb(0, 123, 186);
}

.group-open {
  visibility: visible;
}

.group-closed {
  visibility: hidden;
}

.group-displayed {
  display: block;
  margin-top: 1em;
}

.group-none {
  display: none;
}

.form-lable {
  color: #333;
  font-size: 16px;
}

.group-wrapper {
  margin-left: 1.25em;
  display: inline-block;
}

.size-select {
  width: 6em;
}

.form-section {
  margin-top: 2em !important;
}

#advancedOptions {
  max-height: 11.5em;
  overflow-x: hidden;
  overflow-y: auto;
}

.custom-wrapper {
  float: left;
  width: 11.5em;
  margin-right: 1em;
}

.custom-wrapper.custom-key {
  width: 15em;
}
.custom-wrapper.custom-value {
  width: 9em;
}

.custom-wrapper.custom-delete {
  width: 1em;
  margin-right: 0;
}

.custom-list-item {
  margin-bottom: 1em;
}
.custom-list-item:after {
    content: '';
    display: block;
    clear: both;
}

.topics-table .topics-table-table .partition-icon-button {
  padding-right: 0.25em;
}

.table-cell-icon svg {
  padding-right: 0.25em;
}

.pf-c-table__check {
  padding-top: 2.75em !important;
}

.topics-table-header .pf-c-table__check {
  padding-top: 1.4em !important;
}

.App header[role="banner"] {
  background: url('https://patternfly-react.surge.sh/assets/images/pfbg_1200.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topic-dialog .topic-component-shown {
  display: block;
}

.topic-dialog .topic-component-hidden {
  display: none;
}

.spinning-clockwise {
  -webkit-animation:spinc 4s linear infinite;
  -moz-animation:spinc 4s linear infinite;
  animation:spinc 4s linear infinite;
}
@-moz-keyframes spinc { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinc { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinc { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.spinning-cclockwise {
  -webkit-animation:spincc 4s linear infinite;
  -moz-animation:spincc 4s linear infinite;
  animation:spincc 4s linear infinite;
}
@-moz-keyframes spincc { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spincc { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spincc { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

#topicCogWrapper {
  position: relative;
  margin: auto;
  width: 5.5em;
  height: 5em;
}
#topicCogMain {
  width: 4em;
  height: 4em;
  position: absolute;
  top: 0.5em;
  left: 0;
}

#topicCogUpper {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
}
#topicCogLower {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2em;
  height: 2em;
}

.topic-creating-wrapper {
  min-width: 66em;
  margin-top: 12em;
  text-align: center;
}

.topic-creating-message {
  margin-top: 2em;
}

#topicCreatedIcon {
  width: 3.5em;
  height: 3.5em;
}

#topicCreatedText {
  margin-bottom: 2em;
}

.topic-details-data {
  padding-left: 1em;
}

.topics-table .pf-c-table__expandable-row-content {
  padding-top: 0;
}

tbody.pf-m-expanded td[data-label="Partitions"] {
    border-top: 4px solid rgb(0, 123, 186);
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #FFF;
}

.topics-table .pf-c-table__toggle button {
  display: none;
}

.topics-table tr.pf-m-expanded .pf-c-table__expandable-row-content {
  max-height: 18em;
}

.topics-modal-title {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 6em;
  background-image: url("/assets/images/pfbg_1200.jpg")
}

.topic-dialog .add-topic-form {
  margin-top: 6em;
}
.pf-c-modal-box.topic-dialog  > .pf-c-button.pf-m-plain {
  display: none;
}

.topic-dialog .topics-title-close {
  position: absolute;
  right: 1em;
  top: 2em;
}

.avatar-dot {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  padding-left: 0.1em;
  padding-top: 0.2em;
  margin-left: 1em;
}